<div class="signup">
  <form class="signup-form" action="/signup" method="post">
    <div class="signup-heading">
      <h1>Sign up</h1>
    </div>
    <div class="signup-credentials">
      <label for="username">Username: </label>
      <input type="text" name="username">

      <label for="password">Password: </label>
      <input type="password" name="password">

      <label for="confpassword">Confirm Password: </label>
      <input type="password" name="confpassword">
    </div>

    <div class="signup-submit">
      <input type="submit" value="Sign up">
    </div>
  </form>
</div>
