<div class="homepage">

  <div class="heading-wrapper">
    <div class="overlay">
    </div>
  </div>

  <div class="details">
    <h1>Welcome to R.E.D. Alliance</h1>
    <p class="facebook">Find us on <a href="https://www.facebook.com/redallianceindy/">Facebook!</a></p>
    <div class="detail-wrapper">
      <h3>Our Mission</h3>
      <p>To eliminate the disparity in breast cancer mortality between African American women and Caucasian women in Indianapolis through collaboration, health education, faith-based community outreach, promotion of research, and by increasing access to healthcare and resources.</p>
    </div>

    <div class="detail-wrapper">
      <h3>Our Goals</h3>
      <p>To reduce breast cancer late-stage diagnosis and death rates for African American women in Indianapolis.</p>
    </div>

    <div class="detail-wrapper">
      <h3>Awareness</h3>
      <p>Raise awareness about the high breast cancer death rate for African American women in Indianapolis within the African American community and throughout the general community.</p>
    </div>

    <div class="detail-wrapper">
      <h3>Faith-based Programs</h3>
      <p>Through faith-based programs, provide education and support and connect African American women to timely, affordable and assessable breast health services.</p>
    </div>

    <div class="detail-wrapper">
      <h3>Systematic Intervention</h3>
      <p>To direct interventions aimed at improving access to quality mammography screenings, diagnostic services and treatment for African American women at health institutions in Indianapolis and at reducing healthcare inequities.</p>
    </div>

    <div class="detail-wrapper">
      <h3>Data Collection</h3>
      <p>Research, collection, analysis, and reporting of data in all areas to support the reduction in disparities by reviewing program evaluation and contributing to publications.</p>
    </div>
  </div>

  <div class="footing-wrapper">
    <div class="overlay">
    </div>
  </div>

</div>
