<div class="gabble-posts">

  <!-- Inject as -->
  {{#posts}}
  <div class="post">
    <div class="post-details">
      <div class="post-details-title">
        <h4><a href="/post">{{}}: </a></h4>
        <span></span>
      </div>
      <span><i>{Date and Time}</i></span>
      <p>{#} of Likes</p>
    </div>

    <div class="post-options">
      {{#user}}
      <input type="button" name="like" value="Like">
      <!-- If logged in user post, -->
      <!-- If post username === user username -->
        <input type="button" name="delete" value="Delete">
      <!-- *********************************** -->
      {{/user}}
    </div>
  </div>
  {{/posts}}
  <!----------------->
</div>
