<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8 mx-auto">

                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Create New Event</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST" action="/create">
                                <div class="form-group">
                                    <label for="uname1">Title</label>
                                    <input type="text" name="username" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required="">
                                    <div class="invalid-feedback">Title can't be empty</div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" name="description" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">
                                    <div class="invalid-feedback">Description can't be empty</div>
                                </div>
                                <div class="form-group">
                                    <label>Image URL</label>
                                    <input type="text" name="imageUrl" class="form-control form-control-lg rounded-0"  required="" autocomplete="new-password">
                                    <div class="invalid-feedback">URL can't be empty</div>
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <input type="text" name="imageUrl" class="form-control form-control-lg rounded-0" required="" autocomplete="new-password">
                                    <div class="invalid-feedback">URL can't be empty</div>
                                </div>
                                <div class="form-group">
                                    <label>Date</label>
                                    <input id="datepicker" width="276" />
                                    <div class="invalid-feedback">Pick a Date</div>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
