<div class="create-gab">
  <form class="create-gab-form" action="/newpost" method="post">

    <div class="create-gab-heading">
      <label for="create-gab-text">Create a new gab</label>
    </div>

    <textarea name="create-gab-text" rows="8" cols="80" placeholder="Say Something!"></textarea>

    <input type="submit" name="" value="Save gab">

  </form>
</div>
