/*----------BASE----------*/
/*----------BASE----------*/
/*----------BASE----------*/
body {
  margin: 0px;
  background-color: #ecf0f1;
  font-family: sans-serif;
}

header {
  background-color: #3498db;
  height: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 2px 0px 10px;
  height: 50px;
}

nav a {
  text-decoration: none;
  color: white;
  margin-right: 8px;
}

nav a:hover {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: white;
}

.gabble-nav {
  font-size: 18px;
}

/*----------HOMEPAGE----------*/
/*----------HOMEPAGE----------*/
/*----------HOMEPAGE----------*/
.gabble-posts {
  margin-top: 10px;
}

.post {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0px 10px 0px 10px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #34495e;
}

.post-details {
  width: 79%;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;
}

.post-details-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 10px 0px 5px 0px;
}

.post-details-title > h4 {
  margin-right: 5px;
  align-self: flex-start;
  margin-top: 0px;
}

.post-details-title a {
  text-decoration: none;
  color: blue;
}

.post-details-title > span {
  font-size: 14px;
}

.post-options {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 19%;
}

.post-options > input[name="like"]{
  border-style: none;
  background-color: #3498db;
  color: white;
  width: 60px;
  height: 25px;
  margin-bottom: 5px;
}

.post-options > input[name="delete"]{
  border-style: none;
  background-color: #3498db;
  color: white;
  width: 60px;
  height: 25px;
}

/*----------LOGIN----------*/
/*----------LOGIN----------*/
/*----------LOGIN----------*/
.login {
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 20px;
}

.login-heading {
  color: #34495e;
}

.login-credentials{
  display: flex;
  flex-flow: column nowrap;
  width: 180px;
  font-size: 14px;

}
.login-credentials > input{
  height: 20px;
  font-size: 13px;
  margin-bottom: 10px;
}

.login-submit > input[type="submit"], .login-submit > button {
  border-style: none;
  background-color: #3498db;
  color: white;
  width: 90px;
  height: 30px;
}

.login-submit a {
  text-decoration: none;
  color: white;
}

.error {
  color: red;
}

/*----------SIGNUP----------*/
/*----------SIGNUP----------*/
/*----------SIGNUP----------*/
.signup {
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 20px;
}

.signup-heading {
  color: #34495e;
}

.signup-credentials{
  display: flex;
  flex-flow: column nowrap;
  width: 180px;
  font-size: 14px;

}
.signup-credentials > input{
  height: 20px;
  font-size: 13px;
  margin-bottom: 10px;
}

.signup-submit > input[type="submit"], .signup-submit > button{
  border-style: none;
  background-color: #3498db;
  color: white;
  width: 90px;
  height: 30px;
}

.signup-submit a {
  text-decoration: none;
  color: white;
}
/*----------NEWPOST----------*/
/*----------NEWPOST----------*/
/*----------NEWPOST----------*/
.create-gab {
  margin: 0px 10px 0px 10px;
}

.create-gab-heading {
  color: #34495e;
  margin: 20px 0px 5px 0px;
}

.create-gab-heading > label {
  font-size: 20px;
  font-weight: bolder;
}

.create-gab-form {
  display: flex;
  flex-flow: column nowrap;
}

.create-gab-form > input[type="submit"] {
  margin-top: 5px;
  border-style: none;
  background-color: #3498db;
  color: white;
  height: 30px;
}

/*----------POST----------*/
/*----------POST----------*/
/*----------POST----------*/


.liked-by {
  margin-top: 5px;
}

.liked-by > li {
  list-style-type: none;
  margin-left: 10px;
}




























/*----------POST----------*/
/*----------POST----------*/
/*----------POST----------*/
